 <div class="container mtt">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="card p-4 mb-5">
                <form action="/auth/register" method="post" enctype="multipart/form-data">
                    {{#if error}}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          <div>
                            {{error}}
                          </div>
                        </div>
                    {{/if}}
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" placeholder="example@mail.com" id="email">
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="name" class="form-control" placeholder="Eshmatov Toshmat" id="username">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone number</label>
                    <input type="string" name="phone" value="+998" class="form-control" id="phone_number" placeholder="998911234567" id="phone">
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Rasm tanlang</label>
                    <input type="file" class="form-control" id="image" name="avatar" placeholder="Image">
                    </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                  </div>
                  <div class="mb-3">
                    <label for="password2" class="form-label">Password repeat</label>
                    <input type="password" name="password2" class="form-control" id="password2">
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Registratsiya</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       